/* font  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font  */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

img {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0;
}


body {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary_color: #1C1E53;
    --primary_text_color: #282938;
    --primary_Bg_color: #F4F6FC;
    --white: #ffffff;
    --yellow: #FCD980;
}


/* =========  nav bar start  ========= */

.navbar-nav {
    column-gap: 32px;
}

.CantomNavlink {
    font-size: 16px;
    font-weight: 500;
    color: #BBBBCB;
}

.CantomNavlink:hover {
    color: var(--primary_Bg_color);
}

.Nav__btn {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
}


/* ========= nav bar end ========== */


/* ===== banner_part start ===== */
#banner_part {
    padding: 216px 0 128px;
    background: var(--primary_color);
}

.banner_part__title {
    font-size: 54px;
    font-weight: 600;
    color: var(--white);
}

.banner_part__summary {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    margin-top: 24px;
}

.bannner__viewBtn {
    padding: 16px 56px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary_text_color);
    background: #FCD980;
    border-radius: 41px;
    border: 2px solid transparent;
    transition: .4s linear;
}

.bannner__viewBtn:hover {
    color: var(--white);
    background: transparent;
    border-color: var(--white);
}

.banner__priceBtn {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}

/* ===== banner_part end ===== */

/* ===== work part  start ===== */

#workPart {
    padding: 126px 0 128px;
    background: var(--primary_Bg_color);
}

.workPark__title {
    font-size: 48px;
    font-weight: 600;
    color: var(--primary_text_color);
}

.workPark__summary {
    font-size: 16px;
    max-width: 405px;
    font-weight: 400;
    color: var(--primary_text_color);
    opacity: 0.7;
    margin: 16px 0;
}


.workPark__btn {
    font-size: 18px;
    font-weight: 500;
    color: #2405F2;
    opacity: 0.7;
}

.workPark__btn i {
    margin-left: 10px;
}

.workRight__heding {
    font-size: 32px;
    font-weight: 500;
    color: var(--primary_text_color);
    margin: 16px 0 8px;
}

.workRight__details {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary_text_color);
    opacity: 0.7;
}


/* ===== work part  end ===== */

/* ===== project part  start ===== */

#projectPart {
    padding: 128px 0 128px;
    background: #ffffff;
}

.view__title {
    font-size: 48px;
    font-weight: 600;
}

.view__option {
    font-weight: 500;
    color: var(--primary_text_color);
    font-size: 16px;
}

.project_rightTop {
    margin-top: -4%;
}

.project_rightBottom {
    margin-top: 10%;
}

.project_left {
    overflow: hidden;
}


.overly {
    max-width: 396px;
    height: 100%;
    background: #1c1e53b3;
    top: 0;
    left: -47%;
    transition: all linear .4s;
}

.project_left:hover .overly {
    left: 0;
}

.overly_title {
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
}

.overly_summry {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    opacity: .7;
    margin: 16px 0 40px;
}

.overly_contant {
    height: 100%;
    justify-content: flex-end;
    padding: 0 10px 100px 48px;
}

.view_more {
    font-size: 16px;
    font-weight: 500;
    color: var(--yellow);
    margin-top: 10px;
}

.overly--tow {
    max-width: 100%;
    width: 100%;
    top: -100%;
}

.overly--contant {
    padding: 0 10px 45px 48px;
}

.project_rightTop {
    overflow: hidden;
}

.project_rightTop:hover .overly--tow {
    top: 0;
}

.overly_Title {
    color: var(--white);
    width: 313px;
}

.overly--three {
    max-width: 100%;
    width: 100%;
    left: -100%;
}

.project_rightBottom {
    overflow: hidden;
}

.project_rightBottom:hover .overly--three {
    left: 0;
}

/* ===================== project_part end ==================*/
/* ===================== work part start ==================*/

#workPart {
    padding: 128px 0;
    background: var(--primary_Bg_color);
}

.workPart__features {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary_text_color);
}

.workPart__tittle {
    font-size: 48px;
    font-weight: 600;
    color: var(--primary_text_color);
    margin-top: 15px;
    margin-bottom: 44px;
}

.WorkCard {
    padding: 58px 32px 48px 48px;
    background: var(--white);
    transition: .4s linear;
    height: 316px;
}

.WorkCard:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card__title {
    margin: 22px 0 12px;
    font-size: 24px;
    font-weight: 500;
    color: var(--primary_text_color);
}

.card__details {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary_text_color);
    opacity: 0.7;
}

/* ===================== work part end ==================*/

/* ===================== clint part start ==================*/

#clintPart {
    padding: 130px 0;
    background: var(--primary_Bg_color);
}

.clitPartLeft__title {
    font-size: 38px;
    font-weight: 600;
    color: var(--primary_text_color);
    max-width: 327px;
}

.clitPartLeft__summary {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary_text_color);
    opacity: 0.7;
    margin-top: 16px;
}

.clintPartRight__details {
    max-width: 843px;
    font-size: 32px;
    font-weight: 500;
    color: var(--primary_text_color);
}

.clintPartRight__img {
    border-radius: 50%;

}

.clintPartRight__clint {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary_text_color);
}

.clintPartRight__name {
    font-size: 12px;
    font-weight: 500;
    color: var(--primary_text_color);
}

/* ===================== clint part end ==================*/
/* ===================== FAQ part start ==================*/

#faqPart {
    padding: 128px 0 115px;
}

.faqLeftPart__title {
    font-size: 38px;
    font-weight: 600;
    color: var(--primary_text_color);
}

.faqLeftPart__summary {
    font-size: 18px;
    margin-top: 16px;
    font-weight: 500;
    color: #2405F2;
}

.faqRightPart {
    margin-top: -25px;
}

.accordion-item {
    background: transparent;
    border: none;

}

.accordion-body {
    margin-left: 60px;
}

.accordion-body p {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary_text_color);
    opacity: 0.87;
    max-width: 624px;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #ECECF1;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;

}

.accordion-button {
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: var(--primary_text_color);
    padding: 32px 0;
}

.accordion-button span {
    color: #2405F2;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    content: '+';
    background: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: '-';
    transform: rotate(0);
}

/* ===================== FAQ part end ==================*/
/* ===================== form part start ==================*/

#formPart {
    padding: 115px 0 141px;
}

.formPartLeft {
    padding: 96px;
    background: url(../Images/formLeft_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 691px;
}

.formPartLeft::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(28, 30, 83, 0.5);
    z-index: -1;
}

.formPartLeft__title {
    font-size: 54px;
    font-weight: 600;
    max-width: 464px;
    color: var(--white);

}

.formPartLeft__summary {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);

}

.formPartRight {
    height: 691px;
    padding: 96px 96px 48px 96px;
    background: var(--primary_color);
}

.formPartRight__title {
    font-size: 32px;
    font-weight: 500;
    color: var(--white);
}

.formPartRight_summary {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.formPartRight__form {
    margin-top: 40px;
}

.formPartRight__form input {
    color: var(--white);
    background: transparent;
    padding: 18px 32px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}


.formPartRight__form input::placeholder {
    color: rgba(244, 246, 252, 0.5);
}

.formPartRight__button {
    padding: 16px 150px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary_text_color);
    background: var(--yellow);
    border-radius: 41px;
    border: none;
    outline: none;
    margin-top: 23px;
}

.form__getBtn {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    margin-top: 28px;
}

.form__getBtn i {
    margin-left: 10px;
}


/* ===================== form part end ==================*/
/* ===================== blog part start ==================*/
#blogPart {
    padding: 141px 0 128px;
}

.blogPart__title {
    font-size: 48px;
    font-weight: 600;
    color: var(--primary_text_color);
    margin-bottom: 64px;
}

.blogPartCard__Iteam {
    margin-top: 40px;
}

.blogCard__date {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary_text_color);
    opacity: 0.7;
}

.blogCard__title {
    font-size: 24px;
    font-weight: 500;
    color: var(--primary_text_color);
    margin-top: 16px;
}

.blogCard__summary {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary_text_color);
    opacity: 0.7;
    margin-top: 16px;
}

.blogCard__read {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary_text_color);
    margin-top: 32px;
}


/* ===================== blog part end ==================*/
/* ===================== footer part start ==================*/

footer {
    padding-top: 96px;
    background: var(--primary_color);
}

.footerLeft__summary {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    opacity: 0.8;
    margin-top: 22px;
    max-width: 399px;
}

.footerLeft__contact {
    background: var(--yellow);
    margin-top: 86px;
    padding: 17px 37px;
}

.contact__heding {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary_color);
}

.contact__iteam {
    font-size: 16px;
    font-weight: 400;
    margin-top: 1px;
    color: var(--primary_color);
}

.footerRight__title {
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
}

.footerRight__summary {
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    opacity: 0.8;
    margin-top: 14px;
    max-width: 399px;
}

.footerRight__icon {
    margin-top: 28px;
}

.footerRight__icon i {
    color: var(--white);
    margin-right: 27px;
}


/* ===================== footer part end ==================*/
/* ===================== copy part start ==================*/

#copyPart {
    padding: 32px 0;
    background: #ffffff;
}

.copyPart__name {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary_color);
}

.copyPartLeft__iteam {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary_text_color);
}

/* ===================== copy part end ==================*/